name: Release

on: [workflow_dispatch]

concurrency: release

permissions:
  id-token: write

jobs:
  release:
    name: Run semantic release
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build output
        run: pnpm build

      - name: Run semantic release
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN_PUBLIC }}
          GIT_AUTHOR_NAME: ${{ secrets.BOT_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.BOT_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.BOT_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.BOT_EMAIL }}
        run: NODE_AUTH_TOKEN="" pnpm semantic-release
